body {
  background-image:url("../images/background.jpg");
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0d1117;
  color: #678ec2;
}

header {
  background: linear-gradient(to right, hsl(225, 85%, 15%), oklch(88.167% 0.07997 195.868));
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  color: hwb(206 90% 4%);
  font-size: 2.5rem;
}

nav {
  margin-top: 10px;
}

nav a {
  color:white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover{
  color:black;
}

nav a.active {
  color:black;
  text-decoration:black;
}

main {
  padding: 2rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.passion-section {
  background:#e8e2ea;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(110, 179, 233, 0.08);
  padding: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s ease;
}

.passion-section:hover {
  transform: scale(1.02);
}

.passion-section h2 {
  color:rgb(121, 34, 102);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.passion-section p {
  font-size: 1.05rem;
  color:rgb(42, 106, 125);
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
 nav a {
    margin: 10px 0;
  }

  .passion-section {
    padding: 1.5rem;
  }

  .passion-section h2 {
    font-size: 1.5rem;
  }
}
